<form>
    <input [(ngModel)]="cepInput" [ngModelOptions]="{standalone: true}" placeholder="Digite seu Cep" type="text" maxlength="9">
    <button (click)="get_viacep()" >Buscar</button>
</form>

<div class="formViaCep" *ngIf="!boxHidden">
  <div class="formViaCep__item">
    <label class="label">Cep:</label>
    <input class="input" value={{cep}} disabled />
  </div>

  <div class="formViaCep__item">
    <label class="label">Bairro:</label>
    <input class="input" value={{bairro}}/>
  </div>

  <div class="formViaCep__item">
    <label class="label">Complemento:</label>
    <input class="input" value={{complemento}}/>
  </div>

  <div class="formViaCep__item">
    <label class="label">Localidade:</label>
    <input class="input" value={{localidade}}/>
  </div>

  <div class="formViaCep__item">
    <label class="label">Logradouro:</label>
    <input class="input" value={{logradouro}}/>
  </div>

  <div class="formViaCep__item">
    <label class="label">UF:</label>
    <input class="input" value={{uf}}/>
  </div>
</div>

