<form>
    <input [(ngModel)]="cepInput" [ngModelOptions]="{standalone: true}" placeholder="Digite seu Cep" type="text" maxlength="9">
    <button (click)="get_viacep()" >Buscar</button>
</form>

<div class="formViaCep" *ngIf="!boxHidden">
  <div class="res">
    <div class="card">
      <div class="title">
        <p>Endereço do CEP inserido</p>
      </div>
      <div class="box">
        <div class="box__img">
          <img src="../../../assets/localization.png" alt="">
        </div>
        <div class="box__item">
          <p>CEP: {{cep}}</p>
          <p>Bairro: {{bairro}}</p>
          <p>Complemento: {{complemento}}</p>
          <p>Localidade: {{localidade}}</p>
          <p>Logradouro: {{logradouro}}</p>
          <p>UF: {{uf}}</p>
        </div>
    </div>
    </div>
  </div>
</div>

